{"openapi":"3.1.0","info":{"title":"Technical documentation","version":"a18de31","description":"# Environments: production and sandbox\n\nThe environment is carried by the **type of your API key** (chosen at creation, on [your account](https://api.apprentissage.beta.gouv.fr/compte/profil)), not by the URL: in both cases, target `https://api.apprentissage.beta.gouv.fr/api`.\n\n| | **Sandbox** key | **Production** key |\n|---|---|---|\n| Write habilitations | Granted automatically | On request to support |\n| La bonne alternance exchanges (job search and posting, applications, appointments) | Test environment | Production |\n| Other data (certifications, trainings, organisations, geography) | Identical to production | Production |\n\nWith a sandbox key, your job postings, applications and appointment bookings are routed to La bonne alternance's staging environment — [labonnealternance-recette.apprentissage.beta.gouv.fr](https://labonnealternance-recette.apprentissage.beta.gouv.fr), paired with your sandbox key — rather than its production: nothing you send is visible to real candidates or employers.\n\nStart with a sandbox key to build your integration, then create a production key to go live.\n\n# Rate limiting\n\nTo ensure service availability for all consumers, each endpoint enforces a per-consumer (API key) call limit. Specific limits are documented in each endpoint's description.\n\n## Returned headers\n\nEvery response includes headers reporting your quota state:\n\n| Header | Description |\n|---|---|\n| `x-ratelimit-limit` | Number of calls allowed within the current window |\n| `x-ratelimit-remaining` | Number of calls still available |\n| `x-ratelimit-reset` | Seconds until the counter resets |\n| `retry-after` | (On 429 only) Seconds to wait before retrying |\n\n## When the quota is exceeded\n\nOnce your quota is reached, the API responds with **HTTP 429 — Too Many Requests** and a JSON body describing the breached limit. Wait the duration provided in the `retry-after` header before retrying.\n\n## Best practices\n\n- Monitor `x-ratelimit-remaining` to anticipate hitting the limits.\n- Implement retries with exponential backoff that honor `retry-after`.\n- If your volume requires higher limits, contact [support_api@apprentissage.beta.gouv.fr](mailto:support_api@apprentissage.beta.gouv.fr).","license":{"name":"Etalab-2.0","url":"https://github.com/etalab/licence-ouverte/blob/master/LO.md"},"termsOfService":"https://api.apprentissage.beta.gouv.fr/cgu","contact":{"name":"The 'La bonne alternance' developer space team","email":"support_api@apprentissage.beta.gouv.fr"}},"servers":[{"url":"https://api.apprentissage.beta.gouv.fr/api","description":"production"}],"tags":[{"name":"Try the API","description":"To try the API [you can use the swagger UI](/documentation-technique/try)"},{"name":"Job","description":"Apprenticeship job opportunities"},{"name":"Training","description":"List of operations on apprenticeship training"},{"name":"Certifications","description":"List of operations on certifications."},{"name":"Organisms","description":"List of organisms"},{"name":"Geography","description":"Geographical Referential"},{"name":"Experimental","description":"List of experimental routes. Warning: these routes may change without notice."},{"name":"System","description":"System routes"}],"components":{"securitySchemes":{"api-key":{"type":"http","scheme":"bearer","bearerFormat":"Bearer","description":"API key to provide in the `Authorization` header. If the route requires a particular authorization, a **sandbox** API key is granted it automatically (exchanges with La bonne alternance then go through a test environment); for a **production** key, please contact support to request it at [support_api@apprentissage.beta.gouv.fr](mailto:support_api@apprentissage.beta.gouv.fr)"}},"schemas":{"Certification":{"type":"object","properties":{"identifiant":{"type":"object","properties":{"cfd":{"anyOf":[{"type":"string","pattern":"^[A-Z0-9]{3}\\d{3}[A-Z0-9]{2}$","examples":["50022137"]},{"type":"null"}],"description":"Code Formation Diplôme (CFD) de la certification.\n\nNotes:\n\n- `null` si et seulement si aucun diplôme CFD correspondant à la fiche RNCP (`identifiant.rncp`) n'est connu.\n- Lorsque le code est `null`, toutes les informations issues de la base centrale des nomenclatures (BCN) seront `null`"},"rncp":{"anyOf":[{"type":"string","pattern":"^RNCP\\d{3,5}$","examples":["RNCP37537"]},{"type":"null"}],"description":"Code Répertoire National des Certifications Professionnelles (RNCP) de la certification.\n\nNotes:\n\n- `null` si et seulement si aucune fiche RNCP correspondant au diplôme (`identifiant.cfd`) n'est connu.\n- Lorsque le code est `null`, toutes les informations issues de France Compétence seront `null`"},"rncp_anterieur_2019":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"Identifie les certifications dont le code RNCP correspond à une fiche antérieure à la réforme de 2019.\n\nNotes:\n\n- `null` si `identifiant.rncp` est `null`\n- `true` si le numéro de fiche `identifiant.rncp` est inférieur à `34,000`\n- `false` sinon"}},"required":["cfd","rncp","rncp_anterieur_2019"],"additionalProperties":false,"description":"les fiches RNCP antérieures à la réforme de 2019 ont certaines données qui ne sont pas renseignées, elles sont identifiées par le champ `rncp_anterieur_2019` à `true`."},"intitule":{"type":"object","properties":{"cfd":{"anyOf":[{"type":"object","properties":{"long":{"type":"string","description":"**Intitulé long du diplôme.**","examples":["BOULANGER (CAP)","GENIE BIOLOGIQUE OPTION AGRONOMIE (DUT)"]},"court":{"type":"string","description":"**Intitulé court du diplôme.**","examples":["BOULANGER","GENIE BIO - AGRONOMIE"]}},"required":["long","court"],"additionalProperties":false},{"type":"null"}],"description":"Intitulés de la certification issue de la base centrale des nomenclatures (BCN).\n\nNotes:\n\n- `null` lorsque le champs `identifiant.cfd` est `null`."},"niveau":{"type":"object","properties":{"cfd":{"anyOf":[{"type":"object","properties":{"europeen":{"anyOf":[{"type":"string","enum":["1","2","3","4","5","6","7","8"],"examples":["3","5"]},{"type":"null"}],"description":"Niveau de qualification de la certification (de 1 à 8) utilisés dans les référentiels nationaux européens.\n\nNotes:\n\n- peut être `null` lorsque le niveau de diplôme n'a pas de correspondance avec les niveaux européens ou qu'elle n'est pas déterminée.\n- lorsque la fiche RNCP correspondante est connue, il faut priviliégier le niveau européen issue de France Compétences."},"formation_diplome":{"type":"string","description":"Code à 3 caractères qui renseigne sur le niveau du diplôme suivant le référentiel de l'Éducation Nationale.\n\nNotes:\n\n- correspond aux 3 premiers caractères du code CFD.","examples":["500","370"]},"interministeriel":{"type":"string","description":"code interministériel du niveau de la formation suivant le référentiel de l'Éducation Nationale.\n\nNotes:\n\n- correspond au premier caractère du code CFD, sauf pour le CFD `01321401`","examples":["3","6"]},"libelle":{"anyOf":[{"type":"string","examples":["CLASSE PREPA","TITRE PROFESSIONNEL HOMOLOGUE OU CERTIFIE"]},{"type":"null"}]},"sigle":{"type":"string","examples":["CAP","DUT","BTS","CPGE"]}},"required":["europeen","formation_diplome","interministeriel","libelle","sigle"],"additionalProperties":false},{"type":"null"}],"description":"Niveau de la certification issue de la base centrale des nomenclatures (BCN).\n\nNotes:\n\n- `null` lorsque le champs `identifiant.cfd` est `null`."},"rncp":{"anyOf":[{"type":"object","properties":{"europeen":{"anyOf":[{"type":"string","enum":["1","2","3","4","5","6","7","8"],"examples":["3"]},{"type":"null"}],"description":"Niveau de qualification de la certification (de 1 à 8) utilisés dans les référentiels nationaux européens.\n\nNotes:\n\n- `null` lorsque le niveau de diplôme n'a pas de correspondance avec les niveaux européens."}},"required":["europeen"],"additionalProperties":false},{"type":"null"}],"description":"Niveau de qualification issue de France Compétences.\n\nNotes:\n\n- `null` lorsque le champs `identifiant.rncp` est `null`."}},"required":["cfd","rncp"],"additionalProperties":false,"description":"Niveau de qualification de la certification professionnelle"},"rncp":{"anyOf":[{"type":"string","examples":["Boulanger"]},{"type":"null"}],"description":"Intitulé de la certification issue de France Compétences.\n\nNotes:\n\n- `null` lorsque le champs `identifiant.rncp` est `null`."}},"required":["cfd","niveau","rncp"],"additionalProperties":false},"base_legale":{"type":"object","properties":{"cfd":{"anyOf":[{"type":"object","properties":{"creation":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Date d'arrêté de création du diplôme.\n\nNotes:\n\n- La base centrale des nomenclatures (BCN) fournie cette date sans l'information de l'heure, nous interprétons arbitrairement l'heure à '00:00:00' sur le fuseau horaire 'Europe/Paris'.\n- La date est retournée au format ISO 8601 avec le fuseau horaire 'Europe/Paris'.","examples":["2014-02-21T00:00:00.000+01:00","2018-05-11T00:00:00.000+02:00"]},"abrogation":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Date d'arrêté d'abrogation du diplôme.\n\nNotes:\n\n- La base centrale des nomenclatures (BCN) fournie cette date sans l'information de l'heure, nous interprétons arbitrairement l'heure à '23:59:59' sur le fuseau horaire 'Europe/Paris'.\n- La date est retournée au format ISO 8601 avec le fuseau horaire 'Europe/Paris'.","examples":["2022-08-31T23:59:59.000+02:00","2022-12-31T23:59:59.000+01:00"]}},"required":["creation","abrogation"],"additionalProperties":false,"description":"Informations légales issue de la base centrale des nomenclatures (BCN) relatives au diplôme.\n\nNotes:\n\n- `null` lorsque le champs `identifiant.cfd` est `null`."},{"type":"null"}]}},"required":["cfd"],"additionalProperties":false,"description":"Dates de création et d’abrogation des diplômes crées par arrêtés"},"blocs_competences":{"type":"object","properties":{"rncp":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","pattern":"^(RNCP\\d{3,5}BC)?\\d{1,2}$","examples":["RNCP37537BC01"]},"intitule":{"anyOf":[{"type":"string","examples":["Approvisionnement, communication, sécurité alimentaire et hygiène en boulangerie"]},{"type":"null"}]}},"required":["code","intitule"],"additionalProperties":false}},{"type":"null"}],"description":"Liste des blocs de compétences issue de France Compétences.\n\nNotes:\n\n- `null` lorsque le champs `identifiant.rncp` est `null`."}},"required":["rncp"],"additionalProperties":false,"description":"Liste du (ou des) code (s) et intitulé(s) des blocs de compétences validés par la certification"},"convention_collectives":{"type":"object","properties":{"rncp":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"numero":{"type":"string","examples":["3002"]},"intitule":{"type":"string","examples":["Bâtiment (Employés, techniciens et agents de maîtrise, ingénieurs, assimilés et cadres)"]}},"required":["numero","intitule"],"additionalProperties":false}},{"type":"null"}],"description":"Liste des conventions collectives issue de France Compétences.\n\nNotes:\n\n- `null` lorsque le champs `identifiant.rncp` est `null`."}},"required":["rncp"],"additionalProperties":false,"description":"Liste(s) de la ou des convention(s) collective(s) rattachées à la certification"},"domaines":{"type":"object","properties":{"formacodes":{"type":"object","properties":{"rncp":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","examples":["21538"]},"intitule":{"type":"string","examples":["21538 : Boulangerie"]}},"required":["code","intitule"],"additionalProperties":false}},{"type":"null"}],"description":"Formacode® issue de France Compétences.\n\nNotes:\n\n- `null` lorsque le champs `identifiant.rncp` est `null`."}},"required":["rncp"],"additionalProperties":false,"description":"Formacode® issue de France Compétences.\n\nNotes:\n\n- `null` lorsque le champs `identifiant.rncp` est `null`."},"nsf":{"type":"object","properties":{"cfd":{"anyOf":[{"type":"object","properties":{"code":{"type":"string","examples":["221","310"]},"intitule":{"anyOf":[{"type":"string","examples":["AGRO-ALIMENTAIRE, ALIMENTATION, CUISINE","SPECIALIT.PLURIV.DES ECHANGES & GESTION"]},{"type":"null"}]}},"required":["code","intitule"],"additionalProperties":false},{"type":"null"}],"description":"NSF issue de la base centrale des nomenclatures (BCN).\n\nNotes:\n\n- `null` lorsque le champs `identifiant.cfd` est `null`.\n- Le code NSF est déduis du code formation diplôme (CFD), il n'inclut donc pas la lettre de spécialité et le tableau ne contient qu'un seul élément."},"rncp":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","pattern":"^\\d{2,3}[a-z]?$","examples":["221"]},"intitule":{"anyOf":[{"type":"string","examples":["221 : Agro-alimentaire, alimentation, cuisine"]},{"type":"null"}]}},"required":["code","intitule"],"additionalProperties":false}},{"type":"null"}],"description":"NSF issue de France Compétences.\n\nNotes:\n\n- `null` lorsque le champs `identifiant.rncp` est `null`."}},"required":["cfd","rncp"],"additionalProperties":false},"rome":{"type":"object","properties":{"rncp":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","pattern":"^[A-Z]{1}\\d{0,4}$","examples":["D1102"]},"intitule":{"type":"string","examples":["Boulangerie - viennoiserie"]}},"required":["code","intitule"],"additionalProperties":false}},{"type":"null"}],"description":"ROME issue de France Compétences.\n\nNotes:\n\n- `null` lorsque le champs `identifiant.rncp` est `null`."}},"required":["rncp"],"additionalProperties":false,"description":"Répertoire Opérationnel des Métiers et des Emplois (ROME)."}},"required":["formacodes","nsf","rome"],"additionalProperties":false},"periode_validite":{"type":"object","properties":{"debut":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Date de début de validité de la certification. Cette date correspond à l'intersection de la date d'ouverture du diplôme et de la date d'activation de la fiche RNCP.\n\nNotes:\n\n- La couverture de ce champ est partiel car nous ne sommes pas en mesure pour le moment de récupérer les dates d'activation antérieures au 24 décembre 2021.","examples":["2021-09-01T00:00:00.000+02:00","2022-01-01T00:00:00.000+01:00"]},"fin":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Date de fin de validité de la certification. Cette date correspond à l'intersection de la date de fermeture du diplôme et de la date de fin d'enregistrement.","examples":["2022-08-31T23:59:59.000+02:00","2022-12-31T23:59:59.000+01:00"]},"cfd":{"anyOf":[{"type":"object","properties":{"ouverture":{"anyOf":[{"type":"string","format":"date-time","examples":["2021-09-01T00:00:00.000+02:00","2022-01-01T00:00:00.000+01:00"]},{"type":"null"}],"description":"Date d'ouverture du diplôme.\n\nNotes:\n\n- La base centrale des nomenclatures (BCN) fournie cette date sans l'information de l'heure, nous interprétons arbitrairement l'heure à '00:00:00' sur le fuseau horaire 'Europe/Paris'."},"fermeture":{"anyOf":[{"type":"string","format":"date-time","examples":["2022-08-31T23:59:59.000+02:00","2022-12-31T23:59:59.000+01:00"]},{"type":"null"}],"description":"Date de fermeture du diplôme.\n\nNotes:\n\n- La base centrale des nomenclatures (BCN) fournie cette date sans l'information de l'heure, nous interprétons arbitrairement l'heure à '23:59:59' sur le fuseau horaire 'Europe/Paris'."},"premiere_session":{"anyOf":[{"type":"integer","examples":[2022]},{"type":"null"}],"description":"Année de sortie des premiers diplômés."},"derniere_session":{"anyOf":[{"type":"integer","examples":[2025]},{"type":"null"}],"description":"Année de sortie des derniers diplômés."}},"required":["ouverture","fermeture","premiere_session","derniere_session"],"additionalProperties":false},{"type":"null"}],"description":"- `null` lorsque le champs `identifiant.cfd` est `null`."},"rncp":{"anyOf":[{"type":"object","properties":{"actif":{"type":"boolean","description":"Lorsque la fiche est active, les inscriptions à la formation sont ouvertes, à l’inverse, lorsque la fiche est inactive, les inscriptions sont fermées."},"activation":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Date à laquelle la fiche RNCP est passée au statut `actif`.\n\nNotes:\n\n- La couverture de ce champ est partiel car nous ne sommes pas en mesure pour le moment de récupérer les dates d'activation antérieures au 24 décembre 2021.\n- France Compétence ne fournie pas l'information, nous le déduisons de la date de premiere apparation de la fiche RNCP avec le statut `actif`.","examples":["2021-09-01T00:00:00.000+02:00","2022-01-01T00:00:00.000+01:00"]},"debut_parcours":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Date de début des parcours certifiants. Anciennement appelée 'date d'effet' pour les enregistrements de droit et correspondant à la date de décision pour les enregistrements sur demande.\n\nNotes:\n\nLa date est retournée au format ISO 8601 avec le fuseau horaire Europe/Paris."},"fin_enregistrement":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Date de fin d’enregistrement d’une fiche au RNCP.\n\nNotes:\n\n- France Compétence fournie cette date sans l'information de l'heure, nous interprétons arbitrairement l'heure à '23:59:59' sur le fuseau horaire 'Europe/Paris'.","examples":["2021-09-01T00:00:00.000+02:00","2022-01-01T00:00:00.000+01:00"]}},"required":["actif","activation","debut_parcours","fin_enregistrement"],"additionalProperties":false},{"type":"null"}],"description":"- `null` lorsque le champs `identifiant.rncp` est `null`."}},"required":["debut","fin","cfd","rncp"],"additionalProperties":false,"description":"**Un couple CFD-RNCP a une période de validité** qui correspond à l’intersection de la période d’ouverture du diplôme et de la période d’activité de la fiche RNCP.\n\nNotes:\n\nLes dates sont retournées au format ISO 8601 avec le fuseau horaire Europe/Paris."},"type":{"type":"object","properties":{"nature":{"type":"object","properties":{"cfd":{"anyOf":[{"type":"object","properties":{"code":{"anyOf":[{"type":"string"},{"type":"null"}],"examples":["1","2","P"]},"libelle":{"anyOf":[{"type":"string"},{"type":"null"}],"examples":["DIPLOME NATIONAL / DIPLOME D'ETAT","TITRE PROFESSIONNEL HOMOLOGUE OU CERTIFIE","CLASSE PREPA"]}},"required":["code","libelle"],"additionalProperties":false},{"type":"null"}],"description":"Nature du diplôme issue de la base centrale des nomenclatures (BCN).\n\nNotes:\n\n- `null` lorsque le champs `identifiant.cfd` est `null`."}},"required":["cfd"],"additionalProperties":false,"description":"Nature du diplôme."},"gestionnaire_diplome":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Service responsable de la définition du diplôme.\n\nNotes:\n\n- `null` lorsque le champs `identifiant.cfd` est `null`.","examples":["DGESCO A2-3"]},"enregistrement_rncp":{"anyOf":[{"type":"string","enum":["Enregistrement de droit","Enregistrement sur demande"]},{"type":"null"}],"description":"Permet de savoir si la certification est enregistrée de droit ou sur demande au Repertoire National des Certifications Professionnelles (RNCP)\n\n- `null` lorsque le champs `identifiant.rncp` est `null`.","examples":["Enregistrement de droit"]},"voie_acces":{"type":"object","properties":{"rncp":{"anyOf":[{"type":"object","properties":{"apprentissage":{"type":"boolean","description":"Certification accessible en contrat d’apprentissage."},"experience":{"type":"boolean","description":"Certification accessible par expérience."},"candidature_individuelle":{"type":"boolean","description":"Certification accessible par candidature individuelle."},"contrat_professionnalisation":{"type":"boolean","description":"Certification accessible en contrat de professionnalisation."},"formation_continue":{"type":"boolean","description":"Certification accessible après un parcours de formation continue."},"formation_statut_eleve":{"type":"boolean","description":"Certification accessible après un parcours de formation sous statut d’élève ou d’étudiant."}},"required":["apprentissage","experience","candidature_individuelle","contrat_professionnalisation","formation_continue","formation_statut_eleve"],"additionalProperties":false},{"type":"null"}],"description":"Voie d’accès à la certification issue de France Compétences.\n\nNotes:\n\n- `null` lorsque le champs `identifiant.rncp` est `null`."}},"required":["rncp"],"additionalProperties":false,"description":"Voie d’accès à la certification."},"certificateurs_rncp":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"siret":{"type":"string","description":"Numéro SIRET du certificateur renseigné dans le RNCP."},"nom":{"type":"string","description":"Nom du certificateur renseigné dans le RNCP."}},"required":["siret","nom"],"additionalProperties":false}},{"type":"null"}],"description":"Liste des certificateurs de la fiche RNCP.\n\nNotes:\n\n- `null` lorsque le champs `identifiant.rncp` est `null`."}},"required":["nature","gestionnaire_diplome","enregistrement_rncp","voie_acces","certificateurs_rncp"],"additionalProperties":false},"continuite":{"type":"object","properties":{"cfd":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"ouverture":{"anyOf":[{"type":"string","format":"date-time","examples":["2021-09-01T00:00:00.000+02:00","2022-01-01T00:00:00.000+01:00"]},{"type":"null"}],"description":"Date d'ouverture du diplôme.\n\nNotes:\n\n- La base centrale des nomenclatures (BCN) fournie cette date sans l'information de l'heure, nous interprétons arbitrairement l'heure à '00:00:00' sur le fuseau horaire 'Europe/Paris'."},"fermeture":{"anyOf":[{"type":"string","format":"date-time","examples":["2022-08-31T23:59:59.000+02:00","2022-12-31T23:59:59.000+01:00"]},{"type":"null"}],"description":"Date de fermeture du diplôme.\n\nNotes:\n\n- La base centrale des nomenclatures (BCN) fournie cette date sans l'information de l'heure, nous interprétons arbitrairement l'heure à '23:59:59' sur le fuseau horaire 'Europe/Paris'."},"code":{"type":"string","pattern":"^[A-Z0-9]{3}\\d{3}[A-Z0-9]{2}$"},"courant":{"type":"boolean","description":"Indique si le diplôme correspond au diplôme courant, i.e `identifiant.cfd` est égal au `code`."}},"required":["ouverture","fermeture","code","courant"],"additionalProperties":false}},{"type":"null"}],"description":"Liste des diplômes assurant la continuité du diplôme. La liste inclut à la fois les diplômes remplacés et remplaçant. La liste est ordonnée par date d'ouverture du diplôme et inclut le diplôme courant.\n\nNotes:\n\n- `null` lorsque le champs `identifiant.cfd` est `null`.\n- Pour distinguer les diplômes remplacés des diplômes remplaçant, il faut se référer aux dates d'ouverture et de fermeture des diplômes."},"rncp":{"anyOf":[{"type":"array","items":{"type":"object","properties":{"activation":{"anyOf":[{"type":"string","format":"date-time","examples":["2021-09-01T00:00:00.000+02:00","2022-01-01T00:00:00.000+01:00"]},{"type":"null"}],"description":"Date à laquelle la fiche RNCP est passée au statut `actif`.\n\nNotes:\n\n- La couverture de ce champ est partiel car nous ne sommes pas en mesure pour le moment de récupérer les dates d'activation antérieures au 24 décembre 2021.\n\n- France Compétence ne fournie pas l'information, nous le déduisons de la date de premiere apparation de la fiche RNCP avec le statut `actif`."},"fin_enregistrement":{"anyOf":[{"type":"string","format":"date-time","examples":["2021-09-01T00:00:00.000+02:00","2022-01-01T00:00:00.000+01:00"]},{"type":"null"}],"description":"Date de fin d’enregistrement d’une fiche au RNCP.\n\nNotes:\n\n- France Compétence fournie cette date sans l'information de l'heure, nous interprétons arbitrairement l'heure à '23:59:59' sur le fuseau horaire 'Europe/Paris'."},"code":{"type":"string","pattern":"^RNCP\\d{3,5}$","description":"Indique si la fiche correspond à la fiche courante, i.e `identifiant.rncp` est égal au `code`."},"courant":{"type":"boolean"},"actif":{"type":"boolean","description":"Lorsque la fiche est active, les inscriptions à la formation sont ouvertes, à l’inverse, lorsque la fiche est inactive, les inscriptions sont fermées."}},"required":["activation","fin_enregistrement","code","courant","actif"],"additionalProperties":false}},{"type":"null"}],"description":"- `null` lorsque le champs `identifiant.rncp` est `null`.\n- Pour distinguer les fiches remplacées des fiches remplaçant, il faut se référer aux dates d'activation et de fin d'enregistrement des fiches."}},"required":["cfd","rncp"],"additionalProperties":false,"description":"**Liste des couples CFD-RNCP assurant la continuité de la certification professionnelle.** La liste inclut à la fois les fiches remplacées et remplaçantes. Elle est ordonnée par date d'activation de la fiche RNCP et inclut la fiche courante."}},"required":["identifiant","intitule","base_legale","blocs_competences","convention_collectives","domaines","periode_validite","type","continuite"],"additionalProperties":false,"description":"Certification"},"Commune":{"type":"object","properties":{"nom":{"type":"string","description":"Name of the municipality"},"code":{"type":"object","properties":{"insee":{"type":"string","description":"INSEE code of the municipality"},"postaux":{"type":"array","items":{"type":"string"},"description":"List of postal codes of the municipality"}},"required":["insee","postaux"],"additionalProperties":false,"description":"INSEE and postal codes of the municipality\n\nA municipality can have multiple postal codes, and a postal code can correspond to multiple municipalities. The INSEE code is unique for each municipality."},"anciennes":{"type":"array","items":{"type":"object","properties":{"nom":{"type":"string","description":"Name of the former municipality"},"codeInsee":{"type":"string","description":"INSEE code of the former municipality"}},"required":["nom","codeInsee"],"additionalProperties":false},"description":"Merged former municipalities"},"arrondissements":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string","description":"INSEE code of the district"},"nom":{"type":"string","description":"Name of the district"}},"required":["code","nom"],"additionalProperties":false},"description":"Districts of the municipality"},"departement":{"type":"object","properties":{"nom":{"type":"string","description":"Name of the department"},"codeInsee":{"type":"string","description":"INSEE code of the department"}},"required":["nom","codeInsee"],"additionalProperties":false,"description":"Department of the municipality"},"region":{"type":"object","properties":{"codeInsee":{"type":"string","description":"INSEE code of the region"},"nom":{"type":"string","description":"Name of the region"}},"required":["codeInsee","nom"],"additionalProperties":false,"description":"Region of the municipality"},"academie":{"type":"object","properties":{"id":{"type":"string","description":"ID of the academy"},"code":{"type":"string","description":"Code of the academy"},"nom":{"type":"string","description":"Name of the academy"}},"required":["id","code","nom"],"additionalProperties":false,"description":"Academy of the municipality"},"localisation":{"type":"object","properties":{"centre":{"$ref":"#/components/schemas/GeoJsonPoint"},"bbox":{"$ref":"#/components/schemas/GeoJsonPolygon"}},"required":["centre","bbox"],"additionalProperties":false,"description":"The location information consists of:\n\n- The `center` of the municipality\n- The bounding box (`bbox`) that defines the area of the municipality.\n\nThe `center` and `bbox` fields are both in [GeoJSON](https://en.wikipedia.org/wiki/GeoJSON) format."},"mission_locale":{"anyOf":[{"$ref":"#/components/schemas/MissionLocale"},{"type":"null"}],"description":"\"Mission Locale\" of the municipality"}},"required":["nom","code","anciennes","arrondissements","departement","region","academie","localisation","mission_locale"],"additionalProperties":false,"description":"Municipality"},"Departement":{"type":"object","properties":{"nom":{"type":"string","description":"Name of the department"},"codeInsee":{"type":"string","description":"INSEE code of the department"},"region":{"type":"object","properties":{"codeInsee":{"type":"string","description":"INSEE code of the region"},"nom":{"type":"string","description":"Name of the region"}},"required":["codeInsee","nom"],"additionalProperties":false,"description":"Region of the municipality"},"academie":{"type":"object","properties":{"id":{"type":"string","description":"ID of the academy"},"code":{"type":"string","description":"Code of the academy"},"nom":{"type":"string","description":"Name of the academy"}},"required":["id","code","nom"],"additionalProperties":false,"description":"Academy of the municipality"}},"required":["nom","codeInsee","region","academie"],"additionalProperties":false,"description":"Department"},"MissionLocale":{"type":"object","properties":{"id":{"type":"number","description":"\"Mission Locale\" ID"},"code":{"type":"string","description":"\"Mission Locale\" Code"},"nom":{"type":"string","description":"\"Mission Locale\" Name"},"siret":{"type":"string","description":"\"Mission Locale\" SIRET Number"},"localisation":{"type":"object","properties":{"geopoint":{"anyOf":[{"$ref":"#/components/schemas/GeoJsonPoint"},{"type":"null"}],"description":"GPS coordinates in GeoJSON \"Point\" format"},"adresse":{"type":"string","description":"\"Mission Locale\" Address"},"cp":{"type":"string","description":"\"Mission Locale\" Postal Code"},"ville":{"type":"string","description":"\"Mission Locale\" City"}},"required":["geopoint","adresse","cp","ville"],"additionalProperties":false,"description":"\"Mission Locale\" Location"},"contact":{"type":"object","properties":{"email":{"anyOf":[{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},{"type":"null"}],"description":"\"Mission Locale\" Contact Email"},"telephone":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"\"Mission Locale\" Contact Phone"},"siteWeb":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"\"Mission Locale\" Website"}},"required":["email","telephone","siteWeb"],"additionalProperties":false,"description":"\"Mission Locale\" Contact Information"}},"required":["id","code","nom","siret","localisation","contact"],"additionalProperties":false,"description":"\"Mission Locale\""},"JobRecruiter":{"type":"object","properties":{"identifier":{"type":"object","properties":{"id":{"type":"string","description":"Unique identifier of the recruiter","examples":["6687165396d52b5e01b409545"]}},"required":["id"],"description":"This element includes:\n\n- the partner responsible for the job offer\n- the unique identifier of the job offer within the \"La bonne alternance\" information system"},"workplace":{"type":"object","properties":{"name":{"type":["string","null"],"description":"Name of the establishment (brand name or, failing that, legal name) or school legal name if is_delegated = true\n\nIn the case of publishing a job offer, it is possible to use a custom name; otherwise, it will take the value of the brand name, or failing that, the legal name.","examples":["DIRECTION INTERMINISTERIELLE DU NUMERIQUE (DINUM)"]},"description":{"type":["string","null"],"description":"Description of the employer and/or the department where the contract will be carried out.","examples":["Service du Premier ministre, placé sous l’autorité du ministre de la Transformation et de la Fonction publiques, la direction interministérielle du numérique (DINUM) a pour mission d’élaborer la stratégie numérique de l’État et de piloter sa mise en œuvre. Notre objectif : un État plus efficace, plus simple et plus souverain grâce au numérique."]},"website":{"type":["string","null"],"format":"uri","description":"Company website","examples":["https://beta.gouv.fr/startups/"]},"siret":{"type":["string","null"],"pattern":"^\\d{14}$","description":"SIRET of the contract execution location or of the school if is_delegated = true","examples":["13002526500013"]},"location":{"type":"object","properties":{"address":{"type":"string","description":"Postal address of the job offer location or of the school if is_delegated = true.","examples":["20 AVENUE DE SEGUR 75007 PARIS"]},"geopoint":{"$ref":"#/components/schemas/GeoJsonPoint"}},"required":["address","geopoint"],"description":"Postal address and geolocation linked to the company's SIRET number"},"brand":{"type":["string","null"],"description":"Brand name of the establishment","examples":["Enseigne (todo)"]},"legal_name":{"type":["string","null"],"description":"Company legal name or school legal name if is_delegated = true"},"size":{"type":["string","null"],"description":"Company workforce range, in number of employees","examples":["100-199"]},"domain":{"type":"object","properties":{"idcc":{"type":["number","null"],"description":"Collective agreement number associated with the SIRET number","examples":[1979]},"opco":{"type":["string","null"],"description":"Competency Operator (OPCO) associated with the SIRET number","examples":["OPCO 2i"]},"naf":{"type":["object","null"],"properties":{"code":{"type":"string","description":"NAF code (sector of activity) associated with the SIRET number","examples":["8411Z"]},"label":{"type":["string","null"],"description":"Label of the NAF code (sector of activity) associated with the SIRET number","examples":["Administration publique générale"]}},"required":["code","label"],"description":"NAF (sector of activity) associated with the SIRET number"}},"required":["idcc","opco","naf"],"description":"Groups elements that describe the field to which the company's SIRET number is linked:\n\nThe French Classification of Activities (NAF). Produced by INSEE, its aim is to facilitate the organization of economic and social information.\nThe IDCC number of the collective agreement. Produced by the ministry responsible for labor (Dares and DGT) and the one responsible for agriculture.\nThe Competency Operator (OPCO) responsible for managing the funding of the contract."}},"required":["name","description","website","siret","location","brand","legal_name","size","domain"],"description":"Workplace is described by :\n\n- The name (brand name or, failing that, the company name) and the SIRET number of the company.\n- The description of the employer and/or the department where the contract will be carried out.\n- The company's workforce range, in terms of the number of employees.\n- The company's website."},"apply":{"type":"object","properties":{"phone":{"type":["string","null"],"description":"Recruiter's phone number or School phone number if is_delegated is true\n\nOnly European phone numbers are allowed. There is also a check on the nature of the number: only mobile and landline phones are allowed.","examples":["0199000000"]},"url":{"type":"string","format":"uri","description":"Redirect URL to the application form","examples":["https://labonnealternance.apprentissage.beta.gouv.fr/recherche-apprentissage?display=list&page=fiche&type=matcha&itemId=664752a2ebe24062b758c641"]},"recipient_id":{"type":["string","null"],"description":"Identifier to use for applying to the job offer using /v3/jobs/apply route or to display the apply /postuler widget. If null applying is not available for this offer by apply_route nor by /postuler widget."}},"required":["phone","url"],"description":"This element groups the different means of application offered to candidates.\n\n- URL to redirect the candidate to apply\n- Phone number of the person in charge of recruitment\n- Identifier of the job opportunity to use to allow your users to apply directly from your site using [this additional API](./candidature-offre)."}},"required":["identifier","workplace","apply"],"description":"Recruiter"},"JobOfferRead":{"type":"object","properties":{"identifier":{"type":"object","properties":{"partner_job_id":{"type":"string","description":"Offer identifier within the partner's information system.","examples":["b16a546a-e61f-4028-b5a3-1a7bbfaa4e3d"]},"id":{"type":["string","null"],"description":"Identifier of the job offer in the La bonne alternance database.\n\nFrance Travail offers are not stored in the La bonne alternance database but are retrieved on the fly. They do not have an identifier in the database.","examples":["6687165396d52b5e01b409545"]},"partner_label":{"type":"string","description":"Partner originating the job offer.\n\nIn the case of offers collected by La Bonne Alternance, the partner_label is: \"offres_emploi_lba\".<br />In the case of companies identified with a high potential to recruit, the partner_label is: \"recruteurs_lba\".","examples":["France Travail","offres_emploi_lba"]}},"required":["partner_job_id","id","partner_label"],"description":"This element includes:\n\n- the partner responsible for the job offer\n- the unique identifier of the job offer within the \"La bonne alternance\" information system"},"workplace":{"type":"object","properties":{"name":{"type":["string","null"],"description":"Name of the establishment (brand name or, failing that, legal name) or school legal name if is_delegated = true\n\nIn the case of publishing a job offer, it is possible to use a custom name; otherwise, it will take the value of the brand name, or failing that, the legal name.","examples":["DIRECTION INTERMINISTERIELLE DU NUMERIQUE (DINUM)"]},"description":{"type":["string","null"],"description":"Description of the employer and/or the department where the contract will be carried out.","examples":["Service du Premier ministre, placé sous l’autorité du ministre de la Transformation et de la Fonction publiques, la direction interministérielle du numérique (DINUM) a pour mission d’élaborer la stratégie numérique de l’État et de piloter sa mise en œuvre. Notre objectif : un État plus efficace, plus simple et plus souverain grâce au numérique."]},"website":{"type":["string","null"],"format":"uri","description":"Company website","examples":["https://beta.gouv.fr/startups/"]},"siret":{"type":["string","null"],"pattern":"^\\d{14}$","description":"SIRET of the contract execution location or of the school if is_delegated = true","examples":["13002526500013"]},"location":{"type":"object","properties":{"address":{"type":"string","description":"Postal address of the job offer location or of the school if is_delegated = true.","examples":["20 AVENUE DE SEGUR 75007 PARIS"]},"geopoint":{"$ref":"#/components/schemas/GeoJsonPoint"}},"required":["address","geopoint"],"description":"Postal address and geolocation linked to the company's SIRET number"},"brand":{"type":["string","null"],"description":"Brand name of the establishment","examples":["Enseigne (todo)"]},"legal_name":{"type":["string","null"],"description":"Company legal name or school legal name if is_delegated = true"},"size":{"type":["string","null"],"description":"Company workforce range, in number of employees","examples":["100-199"]},"domain":{"type":"object","properties":{"idcc":{"type":["number","null"],"description":"Collective agreement number associated with the SIRET number","examples":[1979]},"opco":{"type":["string","null"],"description":"Competency Operator (OPCO) associated with the SIRET number","examples":["OPCO 2i"]},"naf":{"type":["object","null"],"properties":{"code":{"type":"string","description":"NAF code (sector of activity) associated with the SIRET number","examples":["8411Z"]},"label":{"type":["string","null"],"description":"Label of the NAF code (sector of activity) associated with the SIRET number","examples":["Administration publique générale"]}},"required":["code","label"],"description":"NAF (sector of activity) associated with the SIRET number"}},"required":["idcc","opco","naf"],"description":"Groups elements that describe the field to which the company's SIRET number is linked:\n\nThe French Classification of Activities (NAF). Produced by INSEE, its aim is to facilitate the organization of economic and social information.\nThe IDCC number of the collective agreement. Produced by the ministry responsible for labor (Dares and DGT) and the one responsible for agriculture.\nThe Competency Operator (OPCO) responsible for managing the funding of the contract."}},"required":["name","description","website","siret","location","brand","legal_name","size","domain"],"description":"Workplace is described by :\n\n- The name (brand name or, failing that, the company name) and the SIRET number of the company.\n- The description of the employer and/or the department where the contract will be carried out.\n- The company's workforce range, in terms of the number of employees.\n- The company's website."},"apply":{"type":"object","properties":{"phone":{"type":["string","null"],"description":"Recruiter's phone number or School phone number if is_delegated is true\n\nOnly European phone numbers are allowed. There is also a check on the nature of the number: only mobile and landline phones are allowed.","examples":["0199000000"]},"url":{"type":"string","format":"uri","description":"Redirect URL to the application form","examples":["https://labonnealternance.apprentissage.beta.gouv.fr/recherche-apprentissage?display=list&page=fiche&type=matcha&itemId=664752a2ebe24062b758c641"]},"recipient_id":{"type":["string","null"],"description":"Identifier to use for applying to the job offer using /v3/jobs/apply route or to display the apply /postuler widget. If null applying is not available for this offer by apply_route nor by /postuler widget."}},"required":["phone","url"],"description":"This element groups the different means of application offered to candidates.\n\n- URL to redirect the candidate to apply\n- Phone number of the person in charge of recruitment\n- Identifier of the job opportunity to use to allow your users to apply directly from your site using [this additional API](./candidature-offre)."},"contract":{"type":"object","properties":{"start":{"type":["string","null"],"format":"date-time","description":"Start date of the contract.","examples":["2024-09-23T10:00:00.000Z"]},"duration":{"type":["integer","null"],"minimum":0,"description":"Contract duration in months.","examples":[12]},"type":{"type":"array","items":{"type":"string","enum":["Apprentissage","Professionnalisation"],"description":"Contract type (apprenticeship and/or professionalization)","examples":["Apprentissage","Professionnalisation"]},"description":"Contract type (apprenticeship and/or professionalization)"},"remote":{"type":["string","null"],"enum":["onsite","remote","hybrid"],"description":"Work mode (on-site, remote, or hybrid)","examples":["onsite","remote","hybrid"]}},"required":["start","duration","type","remote"],"description":"Un contrat est décrit par :\n\n- Le type (apprentissage et/ou professionnalisation).\n- La date de début.\n- La durée.\n- Le mode de travail (présentiel, télétravail ou hybride)."},"offer":{"type":"object","properties":{"title":{"type":"string","minLength":3,"description":"Job offer title.","examples":["Développeur / Développeuse web"]},"desired_skills":{"type":"array","items":{"type":"string","description":"The skills or qualities expected for the position.","examples":["Faire preuve d'autonomie","Faire preuve de créativité, d'inventivité","Faire preuve de rigueur et de précision","Travailler en équipe"]},"description":"The skills or qualities expected for the position."},"to_be_acquired_skills":{"type":"array","items":{"type":"string","description":"The skills or qualities to be acquired during the apprenticeship.","examples":["Recherche, Innovation : Analyser les indicateurs pertinents sur les tendances et les usages des clients","Recherche, Innovation : Concevoir et développer une solution digitale","Nouvelles technologies : Assembler des composants logiciels"]},"description":"The skills or qualities to be acquired during the apprenticeship."},"access_conditions":{"type":"array","items":{"type":"string","description":"The conditions for entering the profession","examples":["Ce métier est accessible avec un diplôme de niveau Bac+2 (BTS, DUT) à Master (MIAGE, diplôme d'ingénieur, Master professionnel, ...) en informatique.","Il est également accessible avec une expérience professionnelle en informatique, système d'exploitation ou dans un domaine applicatif.","La pratique de l'anglais (vocabulaire technique) est requise."]},"description":"The conditions for entering the profession"},"opening_count":{"type":"number","description":"Number of positions available for this job offer","examples":[1,3]},"publication":{"type":"object","properties":{"creation":{"type":["string","null"],"format":"date-time","description":"Creation date of the job opportunity.","examples":["2024-07-23T13:23:01.000Z"]},"expiration":{"type":["string","null"],"format":"date-time","description":"Expiration date of the job opportunity.","examples":["2027-05-14T00:00:00Z"]}},"required":["creation","expiration"],"description":"A job opportunity has a life cycle: a creation date and an expiration date."},"rome_codes":{"type":"array","items":{"type":"string","pattern":"^[A-Z]\\d{4}$","description":"ROME code","examples":["A1401"]},"description":"ROME code(s) of the offer"},"description":{"type":"string","description":"Job offer description.","examples":["Conçoit, développe et met au point un projet d'application informatique, de la phase d'étude à son intégration, pour un client ou une entreprise selon des besoins fonctionnels et un cahier des charges. Peut conduire des projets de développement. Peut coordonner une équipe."]},"target_diploma":{"type":["object","null"],"properties":{"european":{"type":"string","enum":["3","4","5","6","7"],"description":"Targeted diploma level at the end of studies.","examples":["3"]},"label":{"type":"string","description":"The title of the targeted diploma level at the end of studies.","examples":["BP, Bac, autres formations niveau (Bac)"]}},"required":["european","label"],"description":"Targeted diploma level at the end of studies."},"status":{"type":"string","enum":["Active","Filled","Cancelled"],"description":"The status of the offer (life cycle):\n\n- Active: The offer is available on the platform, and applications are open.\n- Filled: The offer has been filled and is no longer available.\n- Cancelled: The offer has been canceled and is no longer available.\n\nOnly active offers are returned by the search.","examples":["Active"]}},"required":["title","desired_skills","to_be_acquired_skills","access_conditions","opening_count","publication","rome_codes","description","target_diploma","status"],"description":"A job offer is described by:\n\n- The title. Example: Web Developer.\n- The description. Example: Designs, develops, and implements a software application project, from the study phase to its integration, for a client or company, according to functional needs and specifications. May lead development projects. May coordinate a team.\n- The targeted diploma level. Example: BP, Bac, other level (Bac) qualifications.\n- The skills or qualities expected for the position. Example: Demonstrate autonomy; Show creativity and inventiveness; Display rigor and precision; Work well in a team.\n- The skills or qualities to be acquired during the apprenticeship. Example: Research, Innovation (Analyze relevant indicators on trends and customer usage; Design and develop a digital solution; Create technical documentation). New technologies (Assemble software components; Design a web application).\n- The conditions for entering the profession. Example: This profession is accessible with a degree from Bac+2 (BTS, DUT) to Master (MIAGE, engineering degree, professional Master, etc.) in computer science. It is also accessible with professional experience in computer science, operating systems, or an application domain. Proficiency in English (technical vocabulary) is required.\n- The number of positions to be filled.\n- List of ROME codes associated to the offer."},"is_delegated":{"type":"boolean","description":"true if offer management is delegated to a partner school. false otherwise","default":false,"examples":[true]}},"required":["identifier","workplace","apply","contract","offer","is_delegated"],"description":"Job offer"},"JobOfferPublishing":{"type":"object","properties":{"publishing":{"type":"object","properties":{"status":{"type":"string","enum":["WILL_BE_PUBLISHED","PUBLISHED","WILL_NOT_BE_PUBLISHED"],"description":"State of the publishing. If the value is WILL_NOT_BE_PUBLISHED, the offer will not be published.","examples":["WILL_BE_PUBLISHED","PUBLISHED","WILL_NOT_BE_PUBLISHED"]},"error":{"type":"object","properties":{"code":{"type":"string","description":"Code of the error. This code will not change.","examples":["CLOSED_COMPANY","DUPLICATE","STAGE","EXPIRED","CFA","ROME_BLACKLISTED","WRONG_DATA","NON_DIFFUSIBLE"]},"label":{"type":"string","description":"Error description","examples":["WILL_BE_PUBLISHED","PUBLISHED","WILL_NOT_BE_PUBLISHED"]}},"required":["code","label"],"description":"Object containing the error"}},"required":["status"],"description":"Publishing informations of the offer"}},"required":["publishing"],"description":"Publishing informations of the offer"},"JobOfferExport":{"type":"object","properties":{"url":{"type":"string","description":"URL of the export. Provided URL is valid for 2 minutes. \n\nOffers are returned using the JSON format. The data structure of the offers is identical to the response of the [search route](/fr/documentation-technique#tag/Offre-Emploi/operation/jobSearch)","examples":["https://s3.rbx.io.cloud.ovh.net/bucket/file.json?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD"]},"lastUpdate":{"type":"string","format":"date-time","description":"Export date","examples":["2025-06-26T08:28:05.000Z"]}},"required":["url","lastUpdate"],"description":"Informations relative to the export of the all the offers."},"JobOfferWrite":{"type":"object","properties":{"identifier":{"type":"object","properties":{"partner_job_id":{"type":"string","description":"Offer identifier within the partner's information system.","examples":["b16a546a-e61f-4028-b5a3-1a7bbfaa4e3d"]}},"required":["partner_job_id"],"description":"This element includes:\n\n- the partner responsible for the job offer\n- the unique identifier of the job offer within the \"La bonne alternance\" information system"},"workplace":{"type":"object","properties":{"name":{"type":["string","null"],"description":"Name of the establishment (brand name or, failing that, legal name) or school legal name if is_delegated = true\n\nIn the case of publishing a job offer, it is possible to use a custom name; otherwise, it will take the value of the brand name, or failing that, the legal name.","examples":["DIRECTION INTERMINISTERIELLE DU NUMERIQUE (DINUM)"]},"description":{"type":["string","null"],"description":"Text may contain HTML tags limited to the following:\n\n- `<b>`, `<i>`, `<em>`, `<strong>`, `<p>`, `<br>`, `<ul>`, `<li>`.\n\nAny other tags or attributes will be removed during validation.","examples":["Service du Premier ministre, placé sous l’autorité du ministre de la Transformation et de la Fonction publiques, la direction interministérielle du numérique (DINUM) a pour mission d’élaborer la stratégie numérique de l’État et de piloter sa mise en œuvre. Notre objectif : un État plus efficace, plus simple et plus souverain grâce au numérique."]},"website":{"type":["string","null"],"format":"uri","description":"Company website","examples":["https://beta.gouv.fr/startups/"]},"siret":{"type":"string","pattern":"^\\d{14}$","description":"SIRET of the contract execution location\n\nThe information `brand` `legal_name` `size` `idcc` `opco` `naf` is automatically deduced from the SIRET.","examples":["13002526500013"]},"location":{"type":["object","null"],"properties":{"address":{"type":["string","null"],"description":"Address of the contract execution location\n\nIn the case of job offer publication, a custom address can be provided. If so, it must be as precise as possible because it is used to derive the GPS coordinates of the location, via the [Adresse API](https://www.data.gouv.fr/dataservices/api-adresse-base-adresse-nationale-ban). If no address is provided, the address and the geolocation of the offer are derived from the company's SIRET number.","examples":["20 AVENUE DE SEGUR 75007 PARIS"]}},"description":"Postal address and geolocation linked to the company's SIRET number"}},"required":["siret"],"description":"Workplace is described by :\n\n- The name (brand name or, failing that, the company name) and the SIRET number of the company.\n- The description of the employer and/or the department where the contract will be carried out.\n- The company's workforce range, in terms of the number of employees.\n- The company's website."},"apply":{"type":"object","properties":{"email":{"type":["string","null"],"format":"email","description":"Recruiter's email adress","examples":["jean.dupuis@beta.gouv.fr"]},"url":{"type":["string","null"],"format":"uri","description":"Redirect URL","examples":["https://labonnealternance.apprentissage.beta.gouv.fr/recherche-apprentissage?display=list&page=fiche&type=matcha&itemId=664752a2ebe24062b758c641"]},"phone":{"type":["string","null"],"description":"Recruiter's phone number or School phone number if is_delegated is true\n\nOnly European phone numbers are allowed. There is also a check on the nature of the number: only mobile and landline phones are allowed.","examples":["0199000000"]}},"description":"Elements for submitting an application:\n\n- Redirect URL\n- Phone number\n- Company email"},"contract":{"type":"object","properties":{"duration":{"type":["integer","null"],"minimum":0,"description":"Contract duration in months.","examples":[12]},"start":{"type":["string","null"],"format":"date-time","description":"Start date of the contract.","examples":["2024-09-23T10:00:00.000Z"]},"remote":{"type":["string","null"],"enum":["onsite","remote","hybrid"],"description":"Work mode (on-site, remote, or hybrid)","examples":["onsite","remote","hybrid"]},"type":{"type":"array","items":{"type":"string","enum":["Apprentissage","Professionnalisation"],"description":"Contract type (apprenticeship and/or professionalization)","examples":["Apprentissage","Professionnalisation"]},"default":["Apprentissage","Professionnalisation"],"description":"Contract type (apprenticeship and/or professionalization)"}},"description":"Un contrat est décrit par :\n\n- Le type (apprentissage et/ou professionnalisation).\n- La date de début.\n- La durée.\n- Le mode de travail (présentiel, télétravail ou hybride)."},"offer":{"type":"object","properties":{"title":{"type":"string","minLength":3,"description":"Job offer title.","examples":["Développeur / Développeuse web"]},"desired_skills":{"type":"array","items":{"type":"string","description":"The skills or qualities expected for the position.","examples":["Faire preuve d'autonomie","Faire preuve de créativité, d'inventivité","Faire preuve de rigueur et de précision","Travailler en équipe"]},"default":[],"description":"The skills or qualities expected for the position."},"to_be_acquired_skills":{"type":"array","items":{"type":"string","description":"The skills or qualities to be acquired during the apprenticeship.","examples":["Recherche, Innovation : Analyser les indicateurs pertinents sur les tendances et les usages des clients","Recherche, Innovation : Concevoir et développer une solution digitale","Nouvelles technologies : Assembler des composants logiciels"]},"default":[],"description":"The skills or qualities to be acquired during the apprenticeship."},"access_conditions":{"type":"array","items":{"type":"string","description":"The conditions for entering the profession","examples":["Ce métier est accessible avec un diplôme de niveau Bac+2 (BTS, DUT) à Master (MIAGE, diplôme d'ingénieur, Master professionnel, ...) en informatique.","Il est également accessible avec une expérience professionnelle en informatique, système d'exploitation ou dans un domaine applicatif.","La pratique de l'anglais (vocabulaire technique) est requise."]},"default":[],"description":"The conditions for entering the profession"},"opening_count":{"type":"number","default":1,"description":"Number of positions available for this job offer","examples":[1,3]},"description":{"type":"string","minLength":30,"description":"Text may contain HTML tags limited to the following:\n\n- `<b>`, `<i>`, `<em>`, `<strong>`, `<p>`, `<br>`, `<ul>`, `<li>`.\n\nAny other tags or attributes will be removed during validation.","examples":["Conçoit, développe et met au point un projet d'application informatique, de la phase d'étude à son intégration, pour un client ou une entreprise selon des besoins fonctionnels et un cahier des charges. Peut conduire des projets de développement. Peut coordonner une équipe."]},"rome_codes":{"type":["array","null"],"items":{"type":"string","pattern":"^[A-Z]\\d{4}$","description":"ROME code","examples":["A1401"]},"description":"ROME code(s) of the offer\n\nIf the published offer does not have a ROME code provided, we deduce the ROME codes from the job offer title."},"target_diploma":{"type":["object","null"],"properties":{"european":{"type":["string","null"],"enum":["3","4","5","6","7"],"description":"Targeted diploma level at the end of studies.","examples":["3"]}},"description":"Targeted diploma level at the end of studies."},"publication":{"type":"object","properties":{"creation":{"type":["string","null"],"format":"date-time","description":"Creation date of the job opportunity.","examples":["2024-07-23T13:23:01.000Z"]},"expiration":{"type":["string","null"],"format":"date-time","description":"Expiration date of the job opportunity.","examples":["2027-05-14T00:00:00Z"]}},"description":"A job opportunity has a life cycle: a creation date and an expiration date."},"multicast":{"type":"boolean","description":"If the offer can be broadcast on all partner platforms","default":true},"origin":{"type":["string","null"],"description":"Deprecated"},"status":{"type":"string","enum":["Active","Filled","Cancelled"],"default":"Active","description":"The status of the offer (life cycle):\n\n- Active: The offer is available on the platform, and applications are open.\n- Filled: The offer has been filled and is no longer available.\n- Cancelled: The offer has been canceled and is no longer available.\n\nOnly active offers are returned by the search.\n\nWhen creating an offer, only active offers are accepted. However, during an update, it is possible to cancel or mark an offer as filled.","examples":["Active","Filled","Cancelled"]}},"required":["title","description"],"description":"A job offer is described by:\n\n- The title. Example: Web Developer.\n- The description. Example: Designs, develops, and implements a software application project, from the study phase to its integration, for a client or company, according to functional needs and specifications. May lead development projects. May coordinate a team.\n- The targeted diploma level. Example: BP, Bac, other level (Bac) qualifications.\n- The skills or qualities expected for the position. Example: Demonstrate autonomy; Show creativity and inventiveness; Display rigor and precision; Work well in a team.\n- The skills or qualities to be acquired during the apprenticeship. Example: Research, Innovation (Analyze relevant indicators on trends and customer usage; Design and develop a digital solution; Create technical documentation). New technologies (Assemble software components; Design a web application).\n- The conditions for entering the profession. Example: This profession is accessible with a degree from Bac+2 (BTS, DUT) to Master (MIAGE, engineering degree, professional Master, etc.) in computer science. It is also accessible with professional experience in computer science, operating systems, or an application domain. Proficiency in English (technical vocabulary) is required.\n- The number of positions to be filled.\n- List of ROME codes associated to the offer."}},"required":["workplace","apply","offer"],"description":"Job offer"},"JobApplicationWrite":{"type":"object","properties":{"applicant_first_name":{"type":"string","minLength":1,"maxLength":50,"description":"Applicant's firstname"},"applicant_last_name":{"type":"string","minLength":1,"maxLength":50,"description":"Applicant's lastname"},"applicant_email":{"type":"string","format":"email","description":"Applicant's email"},"applicant_phone":{"type":"string","description":"Applicant's phone"},"applicant_attachment_name":{"type":"string","minLength":1,"pattern":"((.*?))(\\.)+([Dd][Oo][Cc][Xx]|[Pp][Dd][Ff])$","description":"Resume file name"},"applicant_message":{"type":["string","null"],"description":"Applicant's message"},"applicant_attachment_content":{"type":"string","maxLength":4215276,"format":"byte","description":"Resume file"},"recipient_id":{"type":"string","description":"Recipient identifier retrieved from `apply.recipient_id` from search route."}},"required":["applicant_first_name","applicant_last_name","applicant_email","applicant_phone","applicant_attachment_name","applicant_attachment_content","recipient_id"],"additionalProperties":false,"description":"Application"},"Formation":{"type":"object","properties":{"identifiant":{"type":"object","properties":{"cle_ministere_educatif":{"type":"string","description":"Unique identifier to identify a training on [the apprenticeship training catalog](https://catalogue-apprentissage.intercariforef.org/recherche/formations)"}},"required":["cle_ministere_educatif"],"additionalProperties":false,"description":"Training identifier"},"statut":{"type":"object","properties":{"catalogue":{"type":"string","enum":["publié","supprimé","archivé"],"description":"Training status on the catalog"}},"required":["catalogue"],"additionalProperties":false,"description":"Training status"},"formateur":{"type":"object","properties":{"organisme":{"anyOf":[{"$ref":"#/components/schemas/Organisme"},{"type":"null"}],"description":"Training organism"},"connu":{"type":"boolean","description":"Indicates if the trainer is known to the API\n\nThe organization is known when it is present in [the training organizations repository](https://referentiel.apprentissage.onisep.fr/organismes) or if it has been in the past.\n\nIt can be an organization that is no longer on the training organizations repository. Please check the status of the organization."}},"required":["organisme","connu"],"additionalProperties":false,"description":"Training trainer\n\nThe training organization is responsible for providing the training"},"responsable":{"type":"object","properties":{"organisme":{"anyOf":[{"$ref":"#/components/schemas/Organisme"},{"type":"null"}],"description":"Responsible organism"},"connu":{"type":"boolean","description":"Indicates if the manager is known to the API\n\nThe organization is known when it is present in [the training organizations repository](https://referentiel.apprentissage.onisep.fr/organismes) or if it has been in the past."}},"required":["organisme","connu"],"additionalProperties":false,"description":"Training manager\n\nThe training manager is the organization that has the administrative responsibility for the training\n\nIt can be an organization that is no longer on the training organizations repository. Please check the status of the organization."},"certification":{"type":"object","properties":{"valeur":{"$ref":"#/components/schemas/Certification"},"connue":{"type":"boolean","description":"When the certification is known, then the certification is available in the certifications API\n\nOtherwise, the certification is built from the information from the RNCP and the CFD independently."}},"required":["valeur","connue"],"additionalProperties":false,"description":"Training certification"},"lieu":{"type":"object","properties":{"adresse":{"$ref":"#/components/schemas/Adresse"},"geolocalisation":{"$ref":"#/components/schemas/GeoJsonPoint"},"precision":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Geolocation accuracy of the training location in meters.\n\nThis is the distance between the geolocated point and the location deduced from the address"},"siret":{"anyOf":[{"type":"string","pattern":"^\\d{14}$"},{"type":"null"}],"description":"Training place SIRET number"},"uai":{"anyOf":[{"type":"string","pattern":"^\\d{7}[A-Z]$"},{"type":"null"}],"description":"Training place UAI number"}},"required":["adresse","geolocalisation","precision","siret","uai"],"additionalProperties":false,"description":"Place where the training is given"},"contact":{"type":"object","properties":{"email":{"anyOf":[{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"},{"type":"null"}],"description":"Training contact email"},"telephone":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Training contact phone"}},"required":["email","telephone"],"additionalProperties":false,"description":"Contact information to use to contact the organism"},"onisep":{"type":"object","properties":{"url":{"anyOf":[{"type":"string","format":"uri"},{"type":"null"}]},"intitule":{"anyOf":[{"type":"string"},{"type":"null"}]},"libelle_poursuite":{"anyOf":[{"type":"string"},{"type":"null"}]},"lien_site_onisepfr":{"anyOf":[{"type":"string"},{"type":"null"}]},"discipline":{"anyOf":[{"type":"string"},{"type":"null"}]},"domaine_sousdomaine":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["url","intitule","libelle_poursuite","lien_site_onisepfr","discipline","domaine_sousdomaine"],"additionalProperties":false,"description":"Information related to the training from the ONISEP"},"modalite":{"type":"object","properties":{"entierement_a_distance":{"type":"boolean","description":"Indicates if the training is entirely remote"},"duree_indicative":{"type":"number","description":"Indicative duration of the training"},"annee_cycle":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"The start year of the training session."},"mef_10":{"anyOf":[{"type":"string","pattern":"^\\d{10}$"},{"type":"null"}],"description":"Training MEF 10 code"}},"required":["entierement_a_distance","duree_indicative","annee_cycle","mef_10"],"additionalProperties":false,"description":"Training modality"},"contenu_educatif":{"type":"object","properties":{"contenu":{"type":"string","description":"Training content"},"objectif":{"type":"string","description":"Training objective"}},"required":["contenu","objectif"],"additionalProperties":false,"description":"Educational content of the training"},"sessions":{"type":"array","items":{"type":"object","properties":{"debut":{"type":"string","format":"date-time","description":"Session start date"},"fin":{"type":"string","format":"date-time","description":"Session end date"},"capacite":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Session capacity"}},"required":["debut","fin","capacite"],"additionalProperties":false,"description":"Training session"},"description":"List of training sessions"}},"required":["identifiant","statut","formateur","responsable","certification","lieu","contact","onisep","modalite","contenu_educatif","sessions"],"additionalProperties":false,"description":"Training"},"Organisme":{"type":"object","properties":{"identifiant":{"type":"object","properties":{"uai":{"anyOf":[{"type":"string","pattern":"^\\d{7}[A-Z]$"},{"type":"null"}],"description":"Organism's UAI number"},"siret":{"type":"string","pattern":"^\\d{14}$","description":"Organism's SIRET number"}},"required":["uai","siret"],"additionalProperties":false,"description":"Organism's identifier"},"etablissement":{"type":"object","properties":{"siret":{"type":"string","pattern":"^\\d{14}$","description":"Establishment's SIRET number"},"ouvert":{"type":"boolean","description":"Establishment open"},"enseigne":{"anyOf":[{"type":"string","minLength":1},{"type":"null"}],"description":"Establishment's brand"},"adresse":{"anyOf":[{"$ref":"#/components/schemas/Adresse"},{"type":"null"}],"description":"Establishment's address"},"geopoint":{"anyOf":[{"$ref":"#/components/schemas/GeoJsonPoint"},{"type":"null"}],"description":"GPS coordinates of the establishment"},"creation":{"type":"string","format":"date-time","description":"Establishment's creation date"},"fermeture":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Establishment's closing date"}},"required":["siret","ouvert","enseigne","adresse","geopoint","creation","fermeture"],"additionalProperties":false,"description":"Organism's establishment"},"unite_legale":{"type":"object","properties":{"siren":{"type":"string","description":"Legal unit's SIREN number"},"actif":{"type":"boolean","description":"Legal unit active"},"raison_sociale":{"type":"string","description":"Legal unit name"},"creation":{"type":"string","format":"date-time","description":"Legal unit creation date"},"cessation":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"description":"Legal unit cessation date"}},"required":["siren","actif","raison_sociale","creation","cessation"],"additionalProperties":false,"description":"Organism's legal unit"},"renseignements_specifiques":{"type":"object","properties":{"qualiopi":{"type":"boolean","description":"Qualiopi"},"numero_activite":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Activity number"}},"required":["qualiopi","numero_activite"],"additionalProperties":false,"description":"Specific information"},"statut":{"type":"object","properties":{"referentiel":{"type":"string","enum":["présent","supprimé"],"description":"Organism's status in the training organizations repository"}},"required":["referentiel"],"additionalProperties":false,"description":"Organism's status"},"contacts":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string","format":"email","pattern":"^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$","description":"Contact's email"},"sources":{"type":"array","items":{"type":"string"},"description":"Contact's sources"},"confirmation_referentiel":{"type":"boolean","description":"Indicates if the contact has a \"confirmed\" status on the training organizations repository"}},"required":["email","sources","confirmation_referentiel"],"additionalProperties":false},"description":"Organism's contacts"}},"required":["identifiant","etablissement","unite_legale","renseignements_specifiques","statut","contacts"],"additionalProperties":false},"GeoJsonPoint":{"type":"object","properties":{"coordinates":{"type":"array","prefixItems":[{"type":"number","minimum":-180,"maximum":180,"description":"Longitude","examples":[48.850699]},{"type":"number","minimum":-90,"maximum":90,"description":"Latiude","examples":[2.308628]}]},"type":{"type":"string","const":"Point"}},"required":["coordinates","type"],"additionalProperties":false},"GeoJsonPolygon":{"type":"object","properties":{"coordinates":{"type":"array","items":{"type":"array","items":{"type":"array","prefixItems":[{"type":"number","minimum":-180,"maximum":180,"description":"Longitude","examples":[48.850699]},{"type":"number","minimum":-90,"maximum":90,"description":"Latiude","examples":[2.308628]}]}}},"type":{"type":"string","const":"Polygon"}},"required":["coordinates","type"],"additionalProperties":false},"Adresse":{"type":"object","properties":{"label":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"address label"},"code_postal":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Postal code"},"commune":{"type":"object","properties":{"nom":{"type":"string","description":"Name of the city"},"code_insee":{"type":"string","description":"INSEE code of the city"}},"required":["nom","code_insee"],"additionalProperties":false,"description":"City"},"departement":{"type":"object","properties":{"nom":{"type":"string","description":"Name of the department"},"code_insee":{"type":"string","description":"INSEE code of the department"}},"required":["nom","code_insee"],"additionalProperties":false,"description":"Department"},"region":{"type":"object","properties":{"code_insee":{"type":"string","description":"INSEE code of the region"},"nom":{"type":"string","description":"Name of the region"}},"required":["code_insee","nom"],"additionalProperties":false,"description":"Region"},"academie":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of the academy","examples":["1"]},"code":{"type":"string","description":"Code of the academy","examples":["A1"]},"nom":{"type":"string","description":"Name of the academy","examples":["Académie de Paris"]}},"required":["id","code","nom"],"additionalProperties":false,"description":"Academy"}},"required":["label","code_postal","commune","departement","region","academie"],"additionalProperties":false,"description":"Address"},"Pagination":{"type":"object","properties":{"page_count":{"type":"integer","minimum":0,"description":"Total number of pages"},"page_size":{"type":"integer","minimum":1,"maximum":1000,"description":"Number of items per page"},"page_index":{"type":"integer","minimum":0,"description":"Current page number"}},"required":["page_count","page_size","page_index"],"additionalProperties":false,"description":"Pagination information"}},"responses":{"BadRequest":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"Error context data"},"message":{"type":"string","description":"An explanatory message of the error","examples":["Request validation failed"]},"name":{"type":"string","description":"The generic type of the error","examples":["Bad Request"]},"statusCode":{"type":"number","enum":[400],"description":"The returned status code"}},"required":["message","name","statusCode"],"additionalProperties":false,"description":"Bad Request"}}}},"Unauthorized":{"description":"Unauthorized","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"Error context data"},"message":{"type":"string","description":"An explanatory message of the error","example":"Vous devez être connecté pour accéder à cette ressource"},"name":{"type":"string","description":"The generic type of the error","example":"Unauthorized"},"statusCode":{"type":"number","enum":[401],"description":"The returned status code"}},"required":["message","name","statusCode"],"additionalProperties":false,"description":"Unauthorized"}}}},"Forbidden":{"description":"Insufficient permissions to access the resource","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"Error context data"},"message":{"type":"string","description":"An explanatory message of the error","example":"Le jeton d'accès est invalide"},"name":{"type":"string","description":"The generic type of the error","example":"Forbidden"},"statusCode":{"type":"number","enum":[403],"description":"The returned status code"}},"required":["message","name","statusCode"],"additionalProperties":false,"description":"Insufficient permissions to access the resource"}}}},"Conflict":{"description":"Resource conflict","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"Error context data"},"message":{"type":"string","description":"An explanatory message of the error","example":"La ressource exite déjà"},"name":{"type":"string","description":"The generic type of the error","example":"Conflict"},"statusCode":{"type":"number","enum":[409],"description":"The returned status code"}},"required":["message","name","statusCode"],"additionalProperties":false,"description":"Resource conflict"}}}},"NotFound":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"Error context data"},"message":{"type":"string","description":"An explanatory message of the error","example":"Resource non trouvée"},"name":{"type":"string","description":"The generic type of the error","example":"Not Found"},"statusCode":{"type":"number","enum":[404],"description":"The returned status code"}},"required":["message","name","statusCode"],"additionalProperties":false,"description":"Resource not found"}}}},"TooManyRequests":{"description":"API key rate limit exceeded","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"Error context data"},"message":{"type":"string","description":"An explanatory message of the error","example":"Limite de requêtes atteinte"},"name":{"type":"string","description":"The generic type of the error","example":"Too Many Requests"},"statusCode":{"type":"number","enum":[419],"description":"The returned status code"}},"required":["message","name","statusCode"],"additionalProperties":false,"description":"API key rate limit exceeded"}}}},"InternalServerError":{"description":"An unexpected error occurred on the server.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"Error context data"},"message":{"type":"string","description":"An explanatory message of the error","example":"The server was unable to complete your request"},"name":{"type":"string","description":"The generic type of the error","example":"Internal Server Error"},"statusCode":{"type":"number","enum":[500],"description":"The returned status code"}},"required":["message","name","statusCode"],"additionalProperties":false,"description":"An unexpected error occurred on the server."}}}},"BadGateway":{"description":"Service is unavailable.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"Error context data"},"message":{"type":"string","description":"An explanatory message of the error","example":"The server was unable to complete your request"},"name":{"type":"string","description":"The generic type of the error","example":"Bad Gateway"},"statusCode":{"type":"number","enum":[502],"description":"The returned status code"}},"required":["message","name","statusCode"],"additionalProperties":false,"description":"Service is unavailable."}}}},"ServiceUnavailable":{"description":"Service is under maintenance","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"description":"Error context data"},"message":{"type":"string","description":"An explanatory message of the error","example":"The server was unable to complete your request"},"name":{"type":"string","description":"The generic type of the error","example":"Service Unavailable"},"statusCode":{"type":"number","enum":[502],"description":"The returned status code"}},"required":["message","name","statusCode"],"additionalProperties":false,"description":"Service is under maintenance"}}}}}},"paths":{"/job/v1/search":{"get":{"operationId":"jobSearch","security":[{"api-key":[]}],"parameters":[{"schema":{"type":"number","minimum":-180,"maximum":180,"description":"Longitude of the GPS coordinate of the search area.\n\nThe search will cover the whole of France if not specified.\n\nThis field must be mandatory when used with the longitude field.","examples":[48.8566]},"required":false,"name":"longitude","in":"query"},{"schema":{"type":"number","minimum":-90,"maximum":90,"description":"Latitude of the GPS coordinate of the search area.\n\nThe search will cover the entire France if not specified.\n\nThis field should be mandatory when used with the longitude field.","examples":[2.3522]},"required":false,"name":"latitude","in":"query"},{"schema":{"type":"number","minimum":0,"maximum":200,"default":30,"description":"Search radius in km, useful if a latitude and longitude are provided. The value must be between 0 and 200 and will default to 30.","examples":[30]},"required":false,"name":"radius","in":"query"},{"schema":{"type":"string","enum":["3","4","5","6","7"],"description":"Target diploma level at the end of studies.\n\nWhen filtering by diploma level, we return data :\n\n- where the target diploma level is unknown / not specified / indifferent\n- **and** where the target diploma level matches the requested diploma level\n\nBy filtering on `4`, only data related to this diploma level, as well as those with unknown/unspecified levels, will be returned to you.","examples":["3","4","5","6","7"]},"required":false,"name":"target_diploma_level","in":"query"},{"schema":{"type":"string","description":"ROME code(s) for the research scope\n\nThe ROME corresponds to the Operational Reference for Trades and Jobs designed by France Travail.\n\nList of codes separated by commas\n\nThe codes must adhere to the ROME formats","examples":["F1601,F1201,F1106","M1806"]},"required":false,"name":"romes","in":"query"},{"schema":{"type":"string","pattern":"^RNCP\\d{3,5}$","description":"RNCP code of the research scope\n\nThe RNCP corresponds to the National Directory of Professional Certifications by [France Compétences](https://www.francecompetences.fr/reguler-le-marche/certification-professionnelle/)","examples":["RNCP34436","RNCP183"]},"required":false,"name":"rncp","in":"query"},{"schema":{"type":"string","enum":["AFDAS","AKTO / Opco entreprises et salariés des services à forte intensité de main d'oeuvre","ATLAS","Constructys","L'Opcommerce","OCAPIAT","OPCO 2i","Opco entreprises de proximité","Opco Mobilités","Opco Santé","Uniformation, l'Opco de la Cohésion sociale"],"description":"Allow filtering job offers by opco name.","examples":["AFDAS"]},"required":false,"name":"opco","in":"query"},{"schema":{"type":"array","items":{"type":"string"},"description":"Allow filtering job offers by department numbers. This parameter accepts an array of department numbers","examples":["75&departements=06","06"]},"required":false,"name":"departements","in":"query"},{"schema":{"type":"array","items":{"type":"string"},"description":"List of partners labels to exclude from the search.<br />This list changes regularly. The updated list is available [at this url](http://labonnealternance.apprentissage.beta.gouv.fr/metabase/public/question/70f84c13-6156-4933-9fb3-54c88887d95d)","examples":["Hellowork&partners_to_exclude=RH Alternance","Hellowork"]},"required":false,"name":"partners_to_exclude","in":"query"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"jobs":{"type":"array","items":{"$ref":"#/components/schemas/JobOfferRead"},"description":"List of job offers corresponding to the search.\n\nThe offers come from:\n\n- collection on the platform La bonne alternance\n- France Travail\n- publication via API by our partners\n\nCurrently, the results are sorted by:\n\n- Source priority (La bonne alternance > France Travail > other partners)\n- Increasing distance (only for a search by location)\n- Decreasing date of creation\n\nThe results are limited to 150 for each of the three sources i.e. 450 maximum results, and currently, it is not possible to retrieve all the offers matching the search criteria."},"recruiters":{"type":"array","items":{"$ref":"#/components/schemas/JobRecruiter"},"description":"List of companies that have not posted a job offer but are likely to hire apprentices in the desired field.\n\nThe results are limited to 150, and currently, it is not possible to retrieve all recruiters matching the search criteria."},"warnings":{"type":"array","items":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"}},"required":["message","code"]},"description":"List of warnings related to the search.","examples":[{"message":"Some warning message","code":"WARNING_CODE"}]}},"required":["jobs","recruiters","warnings"]}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"419":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"tags":["Job"],"summary":"Search for apprenticeship job opportunities","description":"Access in real-time all apprenticeship job opportunities available in France and offer them to your users for free and under a white-label format.<br /><br />**Rate limit**: 60 calls per minute, per consumer."}},"/job/v1/offer":{"post":{"operationId":"jobOfferCreate","security":[{"api-key":["jobs:write"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobOfferWrite"}}}},"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of the created offer"}},"required":["id"]}}},"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"419":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"tags":["Job"],"summary":"Submit apprenticeship job offers","description":"**Required habilitation: `jobs:write`.** Granted automatically with a sandbox key. For a production key, request it by email at [support_api@apprentissage.beta.gouv.fr](mailto:support_api@apprentissage.beta.gouv.fr).\n\nThis API allows you to maximize the visibility of your apprenticeship job offers by sharing them with the La bonne alternance service, which then automatically redistributes them to the most relevant candidates on its site as well as its partner sites. <br /><br /> **Rate limit**: 30 calls per minute, per consumer."}},"/job/v1/offer/{id}":{"put":{"operationId":"jobOfferUpdate","security":[{"api-key":["jobs:write"]}],"parameters":[{"schema":{"type":"string","description":"Unique identifier of the job offer","examples":["6687165396d52b5e01b409545"]},"required":true,"name":"id","in":"path"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobOfferWrite"}}}},"responses":{"204":{"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"419":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"tags":["Job"],"summary":"Modify an apprenticeship job offer. Offer must be published and active","description":"**Required habilitation: `jobs:write`.** Granted automatically with a sandbox key. For a production key, request it by email at [support_api@apprentissage.beta.gouv.fr](mailto:support_api@apprentissage.beta.gouv.fr).\n\nThis API allows you to maximize the visibility of your apprenticeship job offers by sharing them with the service La bonne alternance, which then automatically distributes them closer to candidates on its site and its partner sites.<br /><br />**Rate limit**: 30 calls per minute, per consumer."},"get":{"operationId":"jobSearchById","security":[{"api-key":[]}],"parameters":[{"schema":{"type":"string","description":"Unique identifier of the job offer","examples":["6687165396d52b5e01b409545"]},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobOfferRead"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"419":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"tags":["Job"],"summary":"View an apprenticeship job offer","description":"Access the details of an apprenticeship job offer from its identifier.<br /><br />**Rate limit**: 120 calls per minute, per consumer. The `publishing-informations` endpoint shares the same limit."}},"/job/v1/offer/{id}/publishing-informations":{"get":{"operationId":"jobPublisingInfos","security":[{"api-key":[]}],"parameters":[{"schema":{"type":"string","description":"Unique identifier of the job offer","examples":["6687165396d52b5e01b409545"]},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobOfferPublishing"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"419":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"tags":["Job"],"summary":"State of the last publishing of the offer","description":"This endpoint gives informations about the state of the last publishing of the offer. Indeed, the publishing of an offer can take up to 10 minutes."}},"/job/v1/apply":{"post":{"operationId":"jobApply","security":[{"api-key":["applications:write"]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobApplicationWrite"}}}},"responses":{"202":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","description":"Application's identifier."}},"required":["id"]}}},"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"419":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"tags":["Job"],"summary":"Send an application to a job opportunity in apprenticeship","description":"**Required habilitation: `applications:write`.** Granted automatically with a sandbox key. For a production key, request it by email at [support_api@apprentissage.beta.gouv.fr](mailto:support_api@apprentissage.beta.gouv.fr).\n\nTo streamline your users' journey, this API allows you to directly transmit your users' applications to recruiters without them having to leave your site.\n\nFor this, it only requires the transmission of the candidate's contact information and resume. A cover letter, addressed to the recruiter, can also be optionally submitted. The application is then sent to the recruiter via email.\n\n**Rate limit**: 10 calls per minute, per consumer."}},"/job/v1/export":{"get":{"operationId":"jobsExport","security":[{"api-key":[]}],"responses":{"200":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobOfferExport"}}},"description":"Success"},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"419":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"tags":["Job"],"summary":"Export of the job offers","description":"Lists all job opportunities (job postings and companies to which you can send unsolicited applications).\n<br/>Opportunities are updated once a day at 3:00 AM Paris time.<br /><br />**Rate limit**: 2 calls per minute, per consumer."}},"/certification/v1":{"get":{"tags":["Certifications"],"operationId":"get_certification_v1","parameters":[{"name":"identifiant.cfd","in":"query","required":false,"schema":{"type":"string","pattern":"^([A-Z0-9]{3}\\d{3}[A-Z0-9]{2}|null)?$","description":"Filter the list of certifications by `identifiant.cfd`\n\n- If the value is empty or `null`, filter with `identifiant.cfd = null`\n\n- If the value is absent, no filter is applied\n\n- Otherwise must match the regex `/^[A-Z0-9]{3}\\d{3}[A-Z0-9]{2}$/`","examples":["46X32402","","null"]},"allowEmptyValue":true},{"name":"identifiant.rncp","in":"query","required":false,"schema":{"type":"string","pattern":"^(RNCP\\d{3,5}|null)?$","description":"Filter the list of certifications by `identifiant.rncp`\n\n- If the value is empty or `null`, filter with `identifiant.rncp = null`\n\n- If the value is absent, no filter is applied\n\n- Otherwise must match the regex `/^RNCP\\d{3,5}$/`","examples":["RNCP12345","","null"]},"allowEmptyValue":true}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Certification"},"description":"List of communes matching the INSEE or postal code searched"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"419":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[{"api-key":[]}],"summary":"List of professional certifications","description":"Retrieve the list of certifications, filtered by `identifiant.cfd` and `identifiant.rncp`"}},"/geographie/v1/commune/search":{"get":{"tags":["Geography"],"operationId":"get_geographie_v1_commune_search","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string","pattern":"^\\d{5}$","description":"INSEE or postal code searched","examples":["75056","75000"]}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Commune"},"description":"List of communes matching the INSEE or postal code searched"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"419":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[{"api-key":[]}],"summary":"Search for municipalities","description":"Search for municipalities by INSEE or postal code. Searching by INSEE code also includes merged municipalities (delegated or associated) and municipal districts. Please note that a single postal code may be associated with multiple municipalities, and a municipality may have multiple postal codes."}},"/geographie/v1/departement":{"get":{"tags":["Geography"],"operationId":"get_geographie_v1_departement","responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Departement"},"description":"List of French departments"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"419":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[{"api-key":[]}],"summary":"Retrieve departments","description":"Retrieve French departments, for practical reasons the overseas collectivities and territories are included and assimilated to departments"}},"/geographie/v1/mission-locale":{"get":{"tags":["Geography"],"operationId":"get_geographie_v1_mission_locale","parameters":[{"name":"latitude","in":"query","required":false,"schema":{"type":"number","minimum":-90,"maximum":90,"description":"Latitude of the GPS coordinate of the search area.\n\nThe search will cover the entire France if not specified.\n\nThis field should be mandatory when used with the longitude field.","examples":[2.3522]},"allowEmptyValue":true},{"name":"longitude","in":"query","required":false,"schema":{"type":"number","minimum":-180,"maximum":180,"description":"Longitude of the GPS coordinate of the search area.\n\nThe search will cover the whole of France if not specified.\n\nThis field must be mandatory when used with the longitude field.","examples":[48.8566]},"allowEmptyValue":true},{"name":"radius","in":"query","required":false,"schema":{"default":30,"type":"number","minimum":0,"maximum":200,"description":"Search radius in km, useful if a latitude and longitude are provided. The value must be between 0 and 200 and will default to 30.","examples":[30]},"allowEmptyValue":true}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MissionLocale"},"description":"List of mission locales"}}}},"400":{"$ref":"#/components/responses/BadRequest"},"401":{"$ref":"#/components/responses/Unauthorized"},"403":{"$ref":"#/components/responses/Forbidden"},"404":{"$ref":"#/components/responses/NotFound"},"409":{"$ref":"#/components/responses/Conflict"},"419":{"$ref":"#/components/responses/TooManyRequests"},"500":{"$ref":"#/components/responses/InternalServerError"},"502":{"$ref":"#/components/responses/BadGateway"},"503":{"$ref":"#/components/responses/ServiceUnavailable"}},"security":[{"api-key":[]}],"summary":"Retrieve Mission Locales","description":"Retrieve the list of mission locales"}},"/organisme/v1/recherche":{"get":{"tags":["Organisms"],"operationId":"get_organisme_v1_recherche","parameters":[{"name":"uai","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^\\d{7}[A-Z]$"},{"type":"null"}],"description":"UAI of the organization to search for"}},{"name":"siret","in":"query","required":false,"schema":{"anyOf":[{"type":"string","pattern":"^\\d{14}$"},{"type":"null"}],"description":"SIRET of the organization to search for"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"type":"object","properties":{"metadata":{"type":"object","properties":{"uai":{"anyOf":[{"type":"object","properties":{"status":{"type":"string","enum":["inconnu","ok"]}},"required":["status"],"additionalProperties":false},{"type":"null"}],"description":"Metadata on the searched UAI"},"siret":{"anyOf":[{"type":"object","properties":{"status":{"type":"string","enum":["
[...]
